.PatientStatusDetails {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.PatientStatusDetailsHeader {
  display: flex;
  flex-direction: row;
}

.PatientStatusDetailsHeader label {
  flex: 1;
}

.PatientStatusDetailsHeader label:nth-child(2) {
  text-align: right;
}
