.label {
  display: block;
  color: rgb(230, 236, 239);
  opacity: 0.45;
  font-size: 1.35em;
  line-height: 1.75rem;
  margin-bottom: 6px;
}

.label.label--inactive {
  opacity: 0.45;
}

.label__value {
  color: #fff;
  font-size: 1.45em;
  opacity: 1;
}

.label__value--large {
  font-size: 2em;
}
