body {
  background: #000C3F;
  font-family: Rubik, -apple-system, "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  color: white;
  margin: 0;
}

@media (max-width: 460px) {
  body {
    font-size: 12px;
  }
}
